
.card {
  width: 200px;
  margin: 5px;
}


.order-now-button {
  background-color: red !important;
  color: white !important;
}

a {
  text-decoration: none;
}

.product-link {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .card {
    width: calc(50% - 16px);
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 375px) {
  .card {
    width: calc(50% - 16px);
    margin: 8px; 
  }
}