.footer {
  background-color: #010725;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  left: 0;

  font-family: 'Cairo', sans-serif;
}

  @media (max-width: 1024px) {
  .footer {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 15px 0;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 5px 0;
  }
}

.footer p {
  padding: 5px 0;
  font-family: 'Cairo', sans-serif;
}
