.custom-carousel {
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.carousel-container {
  text-align: center;
  height: 445px;
  display: flex;
  align-items: center;
  margin: 0;
}
@media (max-width: 600px) {
  .carousel-container {
    height: 130px;
    margin: 0;
  }
}

.carousel-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
